LOG_LEVEL=INFO
LOG_FILE=./logs/app.log
LOG_FILE_LEVEL=ERROR

SERVER_HOST=
SSH_USER=root
SSH_PASSWORD=

DIGITALOCEAN_TOKEN=

NAMECHEAP_USERNAME=
NAMECHEAP_TOKEN=

GODADDY_API_KEY=
GODADDY_API_SECRET=

TRACKING_DB_CONFIG_FILE=../../../../.env
TRACKING_DB_NAME=
TRACKING_DB_USER=
TRACKING_DB_PASSWORD=
TRACKING_EXCLUDE_IPS=
TRACKING_EXCLUDE_IPS_CIDR=
TRACKING_EXCLUDE_USER_AGENTS_EXACT=
TRACKING_EXCLUDE_USER_AGENTS_SUBSTRING=

SITE_DOMAIN=